.modal {
    max-height: 90%;
}

.dropdown-menu {
    height: auto;
    max-height: 300px;
    overflow-x: auto;
    min-width: 112px;
    max-width: 600px;
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0px;
}

.dropdown-header {
    padding: 0px;
}

.dropdown-menu > li > a {
    padding: 0px;
    background-color: #f2f2f2;
}

.dropdown-menu > li > a:hover {
    background-color: #ffe97f;
}

.btn-test {
    overflow-y: visible;
}

.btn-xs {
    border-radius: 0px;
    text-align: left;
    height: 30px;
    padding: 0px 5px 0px 5px;
    overflow-x: scroll;
}

.test-modal-feedback-bar {
    background-color: #fff;
    border: 4px solid #f2f2f2;
    overflow: auto;
    padding: 10px;
}

.test-modal-feedback-bar-left {
    border-right: 2px solid #f2f2f2;
}

.test-modal-feedback-bar-right {
    border-left: 2px solid #f2f2f2;
}

.symbol-reference-in-rule-body {
    background-color: #f2f2f2;
    cursor: pointer;
}

.symbol-reference-in-rule-body:hover {
    background-color: #ffe97f;
}

.incomplete-symbol-reference-in-rule-body {
    background-color: #ff9891;
    cursor: pointer;
}

.incomplete-symbol-reference-in-rule-body:hover {
    background-color: #ffe97f;
}

.symbol-reference-in-rule-head {
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 5px 10px 11px 10px;
    box-decoration-break: clone;
}

.symbol-reference-in-rule-head:hover {
    background-color: #ffe97f;
}

.symbol-board-header {
    padding: 8px 10px 16.5px 10px;
    box-decoration-break: clone;
}

.test-productionist-module-modal {
    display: block;
    width: 75%;
}